body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #a9bfd1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #a9bfd1;
}

.logo h1 {
  font-size: 28px;
  color: #000;
}

.logo span {
  color: #2b6cb0;
}

.menu a {
  margin: 0 15px;
  text-decoration: none;
  color: #2b6cb0;
  font-weight: 500;
}

.menu a:hover {
  border-bottom: 2px solid #2b6cb0;
}


.botao {
  border: 2px solid #2b6cb0;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #2b6cb0;
  font-weight: bold;
}

.botao:hover {
  background-color: #2b6cb0;
  color: white;
}